{% extends "blog/base.html" %}
{% block content %}
    <h1class="text-center-4" >I am Lokendra singh shekhawat software developer with 6 months internship experience.
    Good in python, JavaScript, front-end technologies and SQl.Passionate about implementing
    and launching new projects. Ability to translate business requirements into technical solutions.
    looking to start the career as an entry-level software engineer with a firm driven by technology.
        </h1
{% endblock content %}
 

